{% extends 'base.html.twig' %}

{% block title %}New Universite{% endblock %}

{% block body %}
    <h1>Create new Universite</h1>

    {{ include('universite/_form.html.twig') }}

    <a href="{{ path('universite_index') }}">back to list</a>
{% endblock %}
